@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IBM Plex Sans Arabic !important;
}
 
body {
    font-family: Arial, sans-serif;
}

.cards-container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    min-height: 30vh;
    margin-bottom: 2rem;
}

.card-custom {
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
}

.bootcamps-card {
    background-color: #BED9FF;
}

.bootcamps-card:hover {
    box-shadow: 8px 8px #6e91c3;
}

.programs-card {
    background-color: #FFE7EF;
}

.programs-card:hover {
    box-shadow: 8px 8px #e3a9ba;
}

.webinars-card {
    background-color: #D3FFD5;
}

.webinars-card:hover {
    box-shadow: 8px 8px #6aa06d;
}

.title-and-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-description {
    margin-bottom: 1.5rem;
    width: 100%;
    color: #5C5C5C;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
}

.img-container img {
    width: 100%;
}

.round-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.round-link:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 7rem;
}

.link-text {
    margin-left: 2rem;
    color: black;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(0);
}

.round-link:hover .link-text {
    transform: translateX(0);
    opacity: 1;
}

.link-icon {
    position: absolute;
    left: 15px;
}

.round-link:hover .link-icon {
    margin-right: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .cards-container {
        display: flex !important;
        flex-direction: row;
        min-height: 10vh;
    }
    
    .card-custom {
        margin-bottom: 1.5rem;
        min-height: 100px;
        width: 50%;
    }
}