@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IBM Plex Sans Arabic !important;
}
 
body {
    font-family: Arial, sans-serif;
}

.cards-container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    min-height: 30vh;
    margin-bottom: 2rem;
}

.card-custom {
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
}

.bootcamps-card {
    background-color: #BED9FF;
}

.bootcamps-card:hover {
    box-shadow: 8px 8px #6e91c3;
}

.programs-card {
    background-color: #FFE7EF;
}

.programs-card:hover {
    box-shadow: 8px 8px #e3a9ba;
}

.webinars-card {
    background-color: #D3FFD5;
}

.webinars-card:hover {
    box-shadow: 8px 8px #6aa06d;
}

.title-and-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-description {
    margin-bottom: 1.5rem;
    width: 100%;
    color: #5C5C5C;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
}

.img-container img {
    width: 100%;
}

.round-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.round-link:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 7rem;
}

.link-text {
    margin-left: 2rem;
    color: black;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(0);
}

.round-link:hover .link-text {
    transform: translateX(0);
    opacity: 1;
}

.link-icon {
    position: absolute;
    left: 15px;
}

.round-link:hover .link-icon {
    margin-right: 1rem;
}
/* Section 3 */

.program-card {
    background-color: #F5F5F7;
    border-radius: 1.5rem;
    height: 100%;
    transition: transform 0.3s;
}
.program-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.program-image-container {
    height: 290px;
    display: flex;
    justify-content: center;
}
.program-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.card-category {
    font-size: 12px;
    color: #5A5A5A;
}
.card-title {
    font-size: 17px;
    font-weight: 600;
    color: #000;
}
.card-meta {
    font-size: 12px;
    font-weight: 600;
    color: #C56B37;
}
.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 6px;
}
.status-open {
    background-color: #10A400;
}
.status-text-open {
    color: #10A400;
    font-size: 12px;
    font-weight: 500;
}
.section-title {
    font-size: 28px;
    font-weight: 500;
    color: #000;
}
.view-more {
    color: #64ABFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.carousel-container {
    overflow-x: auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}
.carousel-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}
@media (max-width: 768px) {
    .program-card {
        margin-bottom: 1.5rem;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .cards-container {
        display: flex !important;
        flex-direction: row;
        min-height: 10vh;
    }
    
    .card-custom {
        margin-bottom: 1.5rem;
        min-height: 100px;
        width: 50%;
    }
}